build
# probably just our system, but we put our fuzzer build here
build2
#We can't recall why but it's here too
build3
# Ignore the generated lexer file
lib/logo/language/lexer/lexer2.cpp
# kdevelop
.kdev4
logo.kdev4
